[submodule "CPU0"]
	path = CPU0
	url = https://github.com/igoryashkka/CPU-core
[submodule "ASIC0/openlane-sk130"]
	path = ASIC0/openlane-sk130
	url = https://github.com/igoryashkka/openlane-sk130.git
